# Logs
*.log
logs/
slurm-*.out

# Large/scratch data
scratch/
*.tmp

*.zip

# Outputs
*cif
.mae
.sdf
*.maegz
*_backend.json
.ob
.map
methods/Glide/9FZJ_docking
data/processed/9FZJ_Glide_docking
methods/ICM-Pro/0_AF3_model
slurm/out_files
methods/Ensemble_Docking/Trial/
*.icb
*.ob
*.map